<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (success && success.length > 0) { %>
  <div class="flash success"><%= success %></div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="flash error"><%= error %></div>
<% } %>

</body>
</html>